.PlanPanelBackground {
  background: rgba(255, 255, 255, 0.925);
  height: 95%;
  /* overflow: scroll; */
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow: scroll;
  overflow-x: hidden;
  /* opacity: 0.9; */
  backdrop-filter: blur(2px);
}

.PlanPanelInfo {
  color: grey;
  padding: 20px;
  display: grid;
}
