table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: rgb(33, 33, 33);
  color: white;
}

.userButton {
  height: 100%;
  width: 100px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  font-weight: 900;
  margin-right: 5px;
}

.delete {
  color: red;
}

.update {
  color: rgb(254, 174, 1);
}

.popup-content {
  font-size: 19px;
}

.popup-content h1 {
  color: black;
}
