.userRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.userName {
  margin-right: 13px;
}

.userButton {
  height: 100%;
  width: 100px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  font-weight: 900;
  margin-right: 5px;
}

.delete {
  color: red;
}

.update {
  color: rgb(254, 174, 1);
}

.popup-content {
  font-size: 19px;
}

.popup-content h1 {
  color: black;
}
