.AdminPanelBackground {
  background: white;
  height: 95%;
  overflow: scroll;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.92;
  border-radius: 30px;
  overflow: hidden;
}

.AdminPanelInfo {
  opacity: 1;
  padding: 10px;
  height: 100%;
  display: grid;
  grid-template-rows: 75px auto;
  color: rgb(0, 0, 0);
}

.AdminNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.ButtonNav {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  width: 220px;
}

.AdminPanel {
  display: grid;
  grid-template-columns: 400px auto;
  padding-top: 5px;
}

.Info {
  margin: 15px 0px 0px 15px;
}
.InfoFilter {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  justify-items: center;
}
input {
  height: 100%;
  border: solid 1px black;
}

select {
  width: 175px;
  height: 100%;
  border: solid 1px black;
  color: black;
}
