.user-name-container {
  height: 100%;
  width: 100%;
}

.user-name-container:hover p {
  width: 100%;
  color: #5202bb;
}

.user-name {
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin: 0px;
  text-decoration: none;
  color: black;
}
