.MainNav li {
  padding-right: 30px;
  font-size: 25px;
  display: inline;
  list-style-type: none;
}
.nav-link {
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-link:hover {
  color: #a055f3;
}
.nav-link :active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-link :visited {
  color: rgb(255, 255, 255);
}
hr {
  width: 100%;
}
