.MainNav {
	width: 500px;
}

.MainNav li {
	padding-right: 30px;
	font-size: 25px;
	display: inline;
	list-style-type: none;
}

.nav-link :active {
	color: rgb(45, 45, 45);
}

.nav-link :visited {
	color: rgb(45, 45, 45);
}
