.UsersButton {
  width: 100px;
  height: 40px;
  background: #5202bb;
  border: none;
  color: white;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
}

.UsersButton:hover {
  background: #a055f3;
  cursor: pointer;
}

.UsersButtonActive {
  width: 100px;
  height: 40px;
  background: #a055f3;
  border: none;
  color: white;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
}

.UsersButtonActive:hover {
  background: #5202bb;
}
