.UpdateUserForm form {
  padding: 10px;
}
.UpdateUserForm li {
  margin-top: 20px;
  width: 500px;
}
.popInput {
  width: 250px;
}

.UserName {
  color: #5202bb;
  font-size: 29px;
}

.PopUpLabel {
  color: black;
}
