.planList {
  margin: 0px;
  padding: 0px;
}
.planItem {
  display: flex;
  align-items: center;
  height: 50px;
}

.planItem a {
  font-size: 19px;
  color: #5202bb;
}
.planItem:hover a {
  font-size: 19px;
  color: #a055f3;
}

.createPlan {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 51px;
  border-bottom: 1px solid grey;
}

.createPlan p {
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  padding-right: 15px;
}

.createPlan input {
  width: 200px;
  height: 23px;
  font-size: 19px;
}
