.userContainer {
  grid-area: MainTeamUsers;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border-right: 1px solid rgb(145, 145, 145);
}

.team-member-name {
  font-size: 20px;
  width: 100%;
  color: #6301e4;
  text-decoration: none;
  list-style-type: none;
}

.currentTeamName {
  font-weight: bold;
  padding-left: 30px;
}
.NewPlanButton {
  position: absolute;
  right: 12%;
  top: 28%;
  background: #a055f3;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 130px;
  font-size: 14px;
}

.NewPlanSubject {
  position: absolute;
  right: 23%;
  top: 28%;
  width: 150px;
  height: 20px;
}

.archive {
  border-radius: 5px;
  padding: 3px;
  width: 110px;
  font-size: 12px;
}

.true {
  background: tomato;
}
.planLink {
  padding-left: 25px;
  text-decoration: none;
}
.planLink:link,
.planLink:visted {
  color: #a055f3;
}
/* .planLink:hover {
    font-size: 
} */
