.logo {
    width: 80px;
}

.companyName {
    color: purple;
}

.loginSubmit {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: purple;
    color: white;
    opacity: 1.15;
    border-radius: 0 0 30px 30px;
    border-color: darkmagenta;
}