.team-name {
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 21px;
  text-decoration: none;
  color: black;
}
.team-name-container {
  width: 100%;
  border-bottom: 1px solid rgb(145, 145, 145);
}

.team-name-container:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 0, 0, 0.235) 100%
  );
}
