.MainPanelBackground {
  background: white;
  height: 80%;
  overflow: scroll;
  width: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.85;
  border-radius: 30px;
  overflow: hidden;
}

.MainPanelInfo {
  opacity: 1;
  color: grey;
  height: 100%;
  padding: 0px;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 300px 300px auto;
  grid-template-areas:
    "MainNav MainNav MainNav"
    "TeamList MainTeamUsers UserPlans";
}
.MainNav {
  grid-area: MainNav;
  background-color: #5202bb;
  border-bottom: 2px solid #5202bb;
  position: relative;
  box-shadow: 0 0 5px 2px;
}

.UserPlans {
  grid-area: UserPlans;
}

.team-list {
  grid-area: TeamList;
  border-right: 2px rgba(0, 0, 0, 0.37) solid;
  color: white;
}
.userContainer {
  grid-area: MainTeamUsers;
}
.currentUserName {
  text-decoration: underline;
}
.planItem {
  list-style-type: none;
}
