.MainPanelBackground {
  background: white;
  height: 80%;
  overflow: scroll;
  width: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.85;
  border-radius: 30px;
  overflow-x: hidden;
}

.MainPanelInfo {
  opacity: 1;
  color: grey;
  padding: 20px;
  display: grid;
  /* height: 100%; */
  grid-template-rows: 35% 65%s;
  grid-template-columns: auto auto;
  grid-template-areas:
    "MainNav MainNav"
    "TeamList MainTeamUsers";
}
