.week {
  /* width: 100%; */
  height: auto;
  padding-bottom: 10px;
  border: 2px solid #a055f3;
  border-radius: 9px;
  margin-bottom: 14px;
  position: relative;
  background-color: white;
}

.week span {
  padding: 5px;
}

.weekNav {
  display: flex;
  margin-bottom: 7px;
  justify-content: flex-start;
  align-content: center;
  height: 40px;
  /* width: 100%; */
  background-color: #6301e4;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.weekNav span {
  color: white;
  padding-left: 10px;
  font-size: 19px;
}

.weekSubText {
  /* font-weight: bolder; */
  font-size: 18px;
}

.week-text-area {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 80px;
  overflow: scroll;
  /* border: 1px solid rgba(0, 0, 0, 0.329); */
  border: none;
  border-top: 3px solid rgba(61, 61, 61, 0.123);
  border-radius: 6px;
  padding: 8px;
  padding-left: 15px;
  /* margin-bottom: 5px; */
  transition: 0.5s;
  font-size: 16px;
  letter-spacing: -1px;
}

.week-text-area:hover {
  background-color: rgb(245, 245, 245);
  opacity: 1;
  border-color: #a055f3;
  transition: 0.5s;
}

.saveBTN {
  background-color: #a055f3;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 24px;
  border-radius: 10px;
  color: white;
}
