.week {
  /* width: 100%; */
  height: auto;
  padding-bottom: 10px;
  border: 2px solid #a055f3;
  border-radius: 9px;
  margin-bottom: 14px;
  position: relative;
}

.week span {
  padding: 5px;
}

.weekNav {
  display: flex;
  margin-bottom: 7px;
  justify-content: flex-start;
  align-content: center;
  height: 27px;
  /* width: 100%; */
  background-color: #6301e4;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.weekNav span {
  color: white;
  padding-left: 10px;
  font-size: 19px;
}

.saveBTN {
  background-color: #a055f3;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 24px;
  border-radius: 10px;
  color: white;
}
